/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */

.wp-block-gutenberg-examples-example-05-recipe-card-esnext {
	padding: 20px;
	background-color: antiquewhite;
}

.wp-block-gutenberg-examples-example-05-recipe-card-esnext .recipe-image {
	float: right;
	width: 50%;

}

img {
		margin: 15px;
			min-height: 100px;
			text-align: center;
			border: 8px solid rgb(103, 31, 31);
			border-radius: 10px;
}

.wp-block-gutenberg-examples-example-05-recipe-card-esnext .recipe-image button {
	margin-top: 30px;
}

.wp-block-gutenberg-examples-example-05-recipe-card-esnext .recipe-image button.image-button {
	margin: 0;
	padding: 0;
	display: block;
}

.wp-block-gutenberg-examples-example-05-recipe-card-esnext .recipe-image img {
	display: block;
	z-index: 1;
	position: relative;

}

.wp-block-gutenberg-examples-example-05-recipe-card-esnext h1 {
	font-size: 3.5em;
}

.wp-block-gutenberg-examples-example-05-recipe-card-esnext ul {
	padding-left: 1.5em !important; /* Needs fix in Gutenberg. */
}

.wp-block-gutenberg-examples-example-05-recipe-card-esnext:after {
	content:"";
	clear:both;
	display: table;
}

.cook-time {
	text-align: center;
	background-color: rgba(78, 200, 216, 0.128);
	width: 33%;
}

th {
	font-size: 12px;
	color: darkcyan;
	padding-right: 5px;

}

td {
	font-size: 12px;
	padding-right: 8px;
	padding-left: 0px;


}
